<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		  					  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="b0ok-admin" version="3.0">

	<display-name>bookstore-admain</display-name>
	<!-- 
  		wskazujemy lokalizacje plikow konfiguracyjnych
    -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		/WEB-INF/web-data.xml
  		/WEB-INF/web-servlet.xml
   		/WEB-INF/web-security.xml
  	</param-value>
	</context-param>
<!-- 	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.xml</param-value>
	</context-param> -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!--
		tworzymy servlet ktory obslugiwac bedzie nasze zapytania
	-->
	<servlet>
		<servlet-name>web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<!--
		ustalamy ze nasz servlet obslugiwac bedzie tylko zapytania konczace
		sie rozszerzeniem *.html
	-->
	<servlet-mapping>
		<servlet-name>web</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<!--  konfiguracja sitemesh -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.darekzon.bookstore.filter.Sitemesh</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
 	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter>
        <filter-name>charsetFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>charsetFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
	<!--
		ustalamy, jakie pliki beda ladowane gdy aplikacja dostanie zapyanie
		"/" (np. http://example.com/)
	-->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<persistence-unit-ref>
		<persistence-unit-ref-name>persistenceUnit</persistence-unit-ref-name>
		<persistence-unit-name>bookstorePU</persistence-unit-name>
	</persistence-unit-ref>
</web-app>