@CHARSET "UTF-8";

body{font-family:tahoma;}

.top-login{width:100%;height:300px;display:block;background:#333333;}
.top-login p{color:#666666;font-family:verdana;font-size:40px;font-weight:bold;position:relative;text-align:center;top:245px;}

.login{display:block;margin:20px auto;width:245px;}
	.login form .input{padding:5px 0;}
	.login form .input label{padding-right:10px;color:#999999;}
	.login form .input input{border:1px solid #dfdfdf;font-size: 13px;padding:4px;border-radius:5px;color:#666666;}

	
button {
	background: url('/resources/images/alert-overlay.png') repeat-x;background-color:#111111;color:#dfdfdf;width:120px;height:25px;float:right;border-radius: 5px;text-shadow: 0 -1px 1px rgba(0,0,0,0.25);border-bottom: 1px solid rgba(0,0,0,0.25);box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	display: inline-block;padding: 5px 10px 6px;line-height: 1;
}